.App {
  max-width: 1280px;
  min-height: 100vh;
  margin: auto;
  font-family: 'Open Sans', sans-serif;
  color: var(--tertiary-color);
}

*, *::before, *::after {
  box-sizing: border-box;
}

.custom-input {
  padding: .5rem;
  font-size: 1.125rem;
  background-color: var(--primary-color);
  border: .125rem var(--primary-color) solid;
  border-radius: .625rem;
  color: var(--tertiary-color);
  font-family: "Open Sans";
}

.custom-input:focus {
  outline: none;
  border-bottom: .125rem var(--accent-color) solid;
}

.custom-table {
  border-collapse: collapse;
  background: var(--secondary-color);
}

.custom-table th {
  font-family: "Source Sans Pro", sans-serif;
  background: var(--secondary-color);
  border-bottom: 0.125rem grey solid;
  font-size: 1.125rem;
}

.custom-table td, th {
  border: none;
  padding: .5rem 0rem .5rem .5rem;
  text-align: left;
}

.custom-table td {
  font-size: 1rem;
  font-family: 'Open Sans', sans-serif;
}

.custom-table tr:nth-child(odd) {
  background: var(--primary-color);
}