@import './constants.css';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,600&family=Source+Sans+Pro:wght@700&display=swap');

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

